body{
    color: #63867d;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather' ,serif;
    background-color: rgb(234, 237, 241);
}




h1 {
    color: #1f2025;;
    font-size: 90px ;
    margin: 1px auto 0 auto;
    font-family: 'Sacramento',cursive;
}

.font {
    color: #1f2025;
}



.eduction{
    margin-bottom : 5%;

}
.edu-img{
    top: 20PX;
    height: 5%;
    width: 5%;
    border-radius: 10%;
}



/* .mountain{ */
    /* position: absolute; */
    /* bottom: 20px; */
    /* right: 0%; */
    /* bottom:0%; */
/* } */




h2 {
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem ;
    font-weight: normal;
    padding-bottom: 10px;
 
}



h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding: 10px;

}



.lorem{
     margin-top: 20%;
}



p{
    line-height: 2;
}



hr {
    border:#84b1cf 6px;
    border-bottom: none;
    width: 4%;
    margin-top: 1%;
    margin-bottom : 1%;
}



.my-img{
    height: 240px;
    width: 210px;
    border-radius: 50%;
}




a{
    color: #28149c;
    font-family: 'Montserrat',sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}




a:hover{
    color: #e8f3f3;
}




.top-container{

    background-color: #88d3c5;
    position: relative;
    padding-top: 80px;
}




.middle-container{
    margin: 100px 0;

    
}




.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
    /* padding-bottom:0%; */
   

}

.skill{
    width: 25%;
    float: right;
    margin-left: 30px;

}


.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.freelancer{
    color: black;
}


.web{
    text-decoration: underline;
    margin-bottom: 0%;
   
}



.intro {
    width: 30%;
    margin: auto;
}




.contact-me{
    width: 40%;
    margin: 40px auto 60px;

}




.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}




.top-cloud{
    position: absolute;
    right: 250px;
    top: 50px;
}



.cloud2-right {
    position: absolute;
    right: 20px;
    bottom: 300px;
}



.bottom-cloud{
    position: absolute;
    left: 220px;
    bottom: 300px;

}


.cloudtop-left{
    position: absolute;
    top: 8px;
    left: 40px;
}

.ccss{
    width: 50%;
    margin: 100px auto 100px auto;
    line-height: 2;
}


.youtube{
    width: 25%;
    float: right;
    margin-left: 30px;

}



.code-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}



.arduino-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}


.ai{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}



.AI{
     width: 25%;
    float: left;
    margin-right: 30px;
   

}


.robot{
    color: #3A3B41;
}



.btn {
    background: #88cfd1;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999a);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999a);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999a);
    background-image: -o-linear-gradient(top, #11cdd4, #11999a);
    background-image: linear-gradient(to bottom, #11cdd4, #11999a);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }


  
  .btn:hover {
    background: #30e3cd;
    background-image: -webkit-linear-gradient(top, #30e3cd, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cd, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cd, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cd, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cd, #2bc4ad);
    text-decoration: none;
  }
